.table{
    margin: auto;
    width: 80%;
    background: linear-gradient(to bottom, white, rgb(11, 123, 160));
    color: black;
    border-radius: 15px;
}
th, td {
    border: 1px;
    padding: 10px;
    text-align: center;
}
html {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom,white, blue);
    color: black;
    margin: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
body {
    min-height: 100vh;
}
.input{
    width: 300px;
    height: 40px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 25px;
    background-color: white;
    color: black;
    
}
.btn{
    padding: 5px 10px;
    border-radius: 25px;
    color: black;
     height: 55px;
    width: 75px;
    cursor: pointer;
    background-color: white;
}
.container {
    text-align: center;
    margin-top: 50px;
}
h2{
    color: black;
    border-radius: 20px;
    background-color: white;
}
.back-button {
    padding: 10px 20px;
    border-radius: 25px;
    color: black;
    background-color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}
.back-button:hover {
    background-color: lightgray;
}
table {
    border: 1px;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    border: 10px solid white;
    width: 300px;
    background: linear-gradient(to right, white, lightblue);
}
.form {
    display: inline-block;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(to right,white,lightblue);
}