
.content {
    background-color: greenyellow;
    text-align: center;
    font-style: italic;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-color: pink;
}
.content:hover{
    color: RED;
    background-color: black;
}
    a:link {
        color: yellow;
        background: red;
    }
a:visited{
    color: blue;
    background-color: yellow;
}

a:hover{
    color:green;
}

a:active {
    color:pink;
}

body, html {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; 
    background-color: BLUE;
}
