.container{
    width: 230px;
    margin: auto;
    border: 2px solid black;
    padding: 10px;
    
    text-align: center;
    border-radius: 20px;
    background-color: black;
}

input{
    width: 70%;
    height: 40px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding-right: 10px;
    color: white;
    background-color: grey;
}
input:hover{
    background-color: lightgrey;
    color: black;
}
.operator{
    width: 15%;
    height: 40px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    padding-right: 10px;
    color: white;
    background-color: grey;
}

.btn{
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background-color: grey;
}
.btn1{
    width: 95px;
    height: 40px;
    font-size: 20px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.btn1:hover{
    background-color: grey;
}
body{
    background-color: orange;
}

p{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: orange;
    background-color: black;
    border-radius: 20px;
    width: 50%;
    margin: auto;
    padding: 10px;
}
p:hover{
    background-color: black;
    color: orange;
    border: 2px solid;
}
.button{
    background-color: black;
    color: yellow;
    border-radius: 5px;
    padding: 5px;
}
button:hover{
    background-color: yellow;
    color: black;
    border: 2px solid;
}