html {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom,darkblue, blue, lightblue);
    color: black;
    margin: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
body {
    min-height: 100vh;
}

.input{
    width: 400px;
    height: 40px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 25px;
    background-color: white;
    color: black;
    
}
.search_btn{
    padding: 5px 10px;
    border-radius: 25px;
    color: black;
     height: 55px;
    width: 75px;
    cursor: pointer;
    background-color: white;
}
.search_btn:hover {
    background-color: black;
    color: white;
}
.error{
    color: white;
    font-weight: bold;
    margin-top: 0;
    background-color: red;
    width: fit-content;
    border-radius: 5px;
}
.table{
    margin: auto;
    width: 80%;
    background: linear-gradient(to bottom, white, rgb(11, 123, 160));
    color: black;
    border-radius: 15px;
}
th, td {
    border: 1px;
    padding: 10px;
    text-align: center;
}
.btn1{
    margin: 10px;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: green;
    color: white;
    height: 60px;
    width: 100px;
    font-size: 16px;
    font-style: italic;
    cursor: pointer;
}
.btn2{
    margin: 10px;
    padding: 10px 20px;
    border-radius: 25px;background-color: black;
    color: white;
    height: 60px;
    width: 100px;
    font-size: 16px;
    font-style: italic;
    cursor: pointer;
}
.btn3{
    margin: 10px;
    padding: 10px 20px;
    border-radius: 25px;
    height: 60px;
    background-color: yellow;
    width: 100px;
    align-content: center;
    font-size: 16px;
    font-style: italic;
    cursor: pointer;
}
.btn4{
    margin: 10px;
    padding: 10px 20px;
    border-radius: 25px;
    height: 60px;
    background-color: red;
    width: 100px;
    font-size: 16px;
    font-style: italic;
    cursor: pointer;
    
}
h2{display: flex;
    justify-content: center;
    background: linear-gradient(to right, red, green, blue);
    border-radius: 50px;
    color: white;
}