.button {
    margin: 5px;
    padding: 10px 20px;
    border-radius: 25px;
    height: 80px;
    width: 80px;
    align-content: center;
    font-size: 16px;
    font-style: italic;
}
.button:hover {
    background-color: black;
    color: white;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    align-items: center;
    justify-content: center;
}
.container {
    text-align: center;
    margin-top: 50px;
}
.id{
    text-align: center;
    border-radius: 20px;
    color: black;
}